<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.team214.nctue4">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:icon="@mipmap/ic_launcher_fox"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_fox_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.team214.nctue4.main.MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.Main">
        </activity>

        <activity
                android:name="com.team214.nctue4.LandingActivity"
                android:theme="@style/splashScreenTheme"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.team214.nctue4.login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name="com.team214.nctue4.login.LogoutActivity">
        </activity>
    </application>

</manifest>